<section>
    <div class="section-container">
        <div class="img-container">
            <img src="/assets/logo-inverted.png" alt="WanderWizard Logo">
        </div>
        <div class="information">
            <h2>Planning trips has never been so easy.</h2>
            <p>
                Create and share personalized trips with your friends with the help of AI. Planning a does not have to
                be drag now!
            </p>
        </div>
        <div class="cta">
            <button class="start-button" (click)="openModal()">Start Planning a Trip</button>
            <button class="auth-button" (click)="goToAuth()"> Sign In / Register</button>
        </div>
        <div (click)="scroll(target)" class="more-info">
            <p>How it works</p>
            <img src="/assets/left-inverted.png" alt="">
        </div>
    </div>

</section>
<app-landing-page-create-trip-component #modal></app-landing-page-create-trip-component>
<section class="section-2" #target>

    <h3>How It Works</h3>
    <h4>Plan your dream trip with WanderWizard in just a few steps!</h4>

    <div class="how-it-works">

        <div class="step">
            <div class="icon">
                <img src="assets/map.png">
            </div>
            <div class="content">
                <h6>Enter Your Destination</h6>
                <p>Select the place you’re traveling to—whether it's a bustling city or a remote getaway.</p>
            </div>
        </div>

        <div class="step">
            <div class="icon">
                <img src="assets/dates.png">
            </div>
            <div class="content">
                <h6>Choose Your Trip Dates & Duration</h6>
                <p>Let us know how many days you'll be traveling to craft the perfect plan.</p>
            </div>
        </div>

        <div class="step">
            <div class="icon">
                <img src="assets/slider.png">
            </div>
            <div class="content">
                <h6>Set Your Preferences</h6>
                <p>Choose what you love—Adventure, Food, Culture, Nightlife, and more!</p>
            </div>
        </div>

        <div class="step">
            <div class="icon">
                <img src="assets/planning.png">
            </div>
            <div class="content">
                <h6>Receive Your Custom Itinerary</h6>
                <p>Get a day-by-day itinerary with top attractions, restaurants, and routes.</p>
            </div>
        </div>

        <div class="step">
            <div class="icon">
                <img src="assets/drag-and-drop.png">
            </div>
            <div class="content">
                <h6>Edit & Personalize</h6>
                <p>Review the plan, swap activities, and make it truly yours.</p>
            </div>
        </div>

    </div>
</section>