section{
    border-top: 2px solid black;
    padding: 3rem
}

h3{
    text-align: center;
}


form {
	margin:10% auto 0 auto;
    padding:1rem;
	width:400px;
	height:auto;
	overflow:hidden;
    text-align: left;
}

form label {
    font-weight: 500;
	cursor:pointer;
}

form input {
	margin:4px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid var(--black-300);
	border-radius:10px;
	display:inline-block;
    font-weight: 500;
}

.input-container{
    padding-block: 10px;
}

form input:active{
	background-color:rgb(219, 219, 219);
}

.error{
    font-size: 0.9rem;
    color: red;
    padding-top:1rem;
    font-weight: 700;
}

.success{
    font-size: 0.9rem;
    color: rgb(100, 170, 100);
    padding-top:1rem;
    font-weight: 700;
}

.submit{
    margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid var(--black);
	border-radius:10px;
	display:inline-block;
    background-color: var(--black);
    font-weight: 600;
    color: var(--white);
    font-weight: 1.35rem;
    cursor: pointer;
}

button[type="submit"]:disabled{
	background-color: var(--black-700);
}