.container{
   width: 90%;   
   margin: auto;
}

.back{
    margin-top: 1rem;
}

.header{
    display: flex;
    width: 100%; 
    height: 300px;
    gap:1rem;
    flex: 1 1 0;
    justify-content: center;
    margin-top:2rem;
}


.info-header{
    flex: 3 0 0;
    height: 100%;
    border-radius: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    display: flex;
    text-align: left;
}

.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
    object-fit:cover;
    animation: zoom 2.5s ease-in 0.5s forwards;
}


@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.15);
    }
}

.info-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    z-index: 100;
    padding:1.25rem;
    transform: translateY(-100%);
    color: white;
    background: rgb(0,0,0);
    background-color: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.701) 0%, rgba(0,0,0,0) 100%);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.info-container>div{
    font-size: 2rem;
    height: min-content;
    background-color: transparent;
}

.location-info>div:nth-of-type(1){
    font-size: 1.5rem;
    text-align: end;
    margin-bottom: 0.5rem;
}






.info-header:hover{
    transform: scale(1.005);
}

.info-header:hover > .image-container > img{
    scale:1.1
}


.map-header{
    flex: 2 0 0;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.trip-container{
    display: flex;
    width: 100%;
    gap:1rem;
    margin-top: 2rem;
}

.trip-planner{
    flex-grow: 4;
    background-color: white;
    border-radius: 15px;
}


.share-section{

    padding:1rem;
    width: 20%;
}


.user{
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-block:1rem;
    background-color: var(--white);
    padding:0.5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    text-wrap:wrap;
    overflow: hidden;
}

.left{
    display: flex;
    align-items: center;
    gap:1rem;
    text-overflow: clip;
    max-width: 80%;
}

.profile-photos{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.profile-name{
    font-size: 1.1rem;
    font-weight: 800;
}

.profile-email{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black-300);
}

.profile-email{
    display: none;
}

.user:hover .profile-email{
    display: block;
}

.add-input{
    background-color: var(--black-300);
    padding:1rem;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
    display: flex;
    gap:1rem;
    align-items: center;
    transition: 0.3s ease-in-out;
    margin-top:1rem;

}   


.search-icon{
    height: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.add-input:hover{
    background-color: var(--black-400);
}


.rotate45{
    transform: rotate(45deg);
}

.input-active{
    width: 100%;
    height: 100%;
}

.input-active>input{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border:0rem;
    padding:0.5rem;
    font-size: larger;
}

h4{
    font-size: 1.4rem;
}

.input-active>input:hover, .input-active:focus{
    border:0px;
}


.input-inactive{
    width: 100%;
}


.add-button{
    border:2px solid black;
    border-radius: 5px;
    
}


.add-icon{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border:0px;
    transition: 0.1s ease-in-out;
}

.add-icon:hover{
    scale: 1.1;
    opacity: 0.95;
    background-color: var(--black-400);
}

.searchList-container{
    background-color: rgb(243, 243, 243);
    padding:0.5rem 1rem;
    border-radius: 0px 0px 15px 15px;
}

.darker{
    background-color: rgb(243, 243, 243);
    
}

.days-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow-1);
    padding:1rem;
    border-radius: 15px;
}

.days-info h2{
    padding:1rem;
}

.dates{
    display: flex;
    gap:0.25rem;
    margin-top: 0.5rem;
}

.dates>div{
    font-size: 1.1rem;
    font-weight: 600;
}




@media only screen and (max-width: 700px) {
    .header{
        flex-direction: column;
        height: 300px;
    }

    .info-header{
        height: 50%;
    }
    .info-container{
        padding:0.5rem;
    }

    .info-container div{
        font-size: 1.25rem;
    }

    .dates{
        flex-direction: column;
        gap:0.1rem;
        margin-top: 0.2rem;
    }

    .map-header{
        height: 50%;
    }

    .location-info div{
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
 

    .trip-container{
        flex-direction: column;
    }

    .trip-container>div{
        width: 100%;
    }

    .days-info{
        flex-direction: column;
        padding:0.5rem;
        gap:0rem;
        justify-content: center;
    }

    .days-info h2{
        font-size: 1.5rem;
        padding:0;
        margin:0;
    }

    .dates>div{
        font-size: 0.8rem;
        font-weight: 500;
    }

    .day-card{
        margin-block:0.5rem;
    }



    .activity-card{
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .activity-left{
        width: 100%;
    }

    .activity-container{
        padding:0.25rem;
        width: 100%;
    }

    .actions{
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .rearrange{
        display: block;
    }
    
}