section{
    border-top: 2px solid black;
    padding: 3rem
}




.error{
    font-size: 0.9rem;
    color: red;
    padding-top:1rem;
    font-weight: 700;
}


.submit{
    margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid var(--black);
	border-radius:10px;
	display:inline-block;
    background-color: var(--black);
    font-weight: 600;
    color: var(--white);
    font-weight: 1.35rem;
    cursor: pointer;
}

button[type="submit"]:disabled{
	background-color: var(--black-700);
}

@media only screen and (max-width: 600px) {
  
}